html {
    background-color: white;
    
  }

  @font-face {
    font-family: MS;
    src: url(/fonts/Arial\ Rounded\ MT\ Regular.ttf);
  }

  @font-face {
    font-family: MSBold;
    src: url(/fonts/Arial\ Rounded\ Bold.ttf);
  }
  
  body {
    min-height: 100vh;
    font-family: 'MS'
  }

  .centered2 {
    position:fixed;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  header {
    font-family: MSBold;
  }


p {
    font-family: MS;
    display: inline-block;
    background: linear-gradient(in hsl longer hue 90deg,  #ffabcd, #ffb5d0);
    background-size: 700% 700%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: grad 3s linear infinite alternate;
}

@keyframes grad{
  0%{
    background-position:0% 50%}to{background-position:100% 50%
  }
}

  hr {
    border: 1px solid #FF85D3;
    margin-top: -10px;
    margin-bottom: 10px
  
  }

  h1 {
    color: white;
    font-family: MSBold;
  }

  h2 {
    color: white;
  }

  .headerlink {
    padding-left: 10px;
  }

  img {
    width: 100%;
  }



  @media only screen and (max-width: 600px) {

    .centered2 {
    position:fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

    img {
    width: 100%;
  }

    h1 {
      font-size: 22px;
    }
    
  }
