html {
  background: url(/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  html {
    background-image: linear-gradient(to bottom right, #fda5cb, #fee1e6);
  }
  .main-p {
    width: 100%;
  }
}

body {
  min-height: 100vh;
}

a:link {
  color: #FF85D3;
}
a:visited {
  color: #FF85D3;
}
a:hover {
  color: red;
}
a:active {
  color: red;
}

@font-face {
  font-family: MS;
  src: url(/fonts/MS\ Sans\ Serif.ttf);
}

@font-face {
  font-family: MSBold;
  src: url(/fonts/MS\ Sans\ Serif\ Bold.ttf);
}

header {
  font-family: MSBold;
}

.home:link {
  color: black;
  text-decoration: none;
}
.home:visited {
  color: black;
  text-decoration: none;
}
.home:hover {
  color: red;
  text-decoration: none;
}
.home:active {
  color: red;
  text-decoration: none;
}

  p {
    font-family: MS;
  }

  hr {
    border: 1px solid #FF85D3;
    margin-top: -10px;
    margin-bottom: 10px
  
  }

  .headerlink {
    padding-left: 10px;
  }

  .title {
    font-family: MSBold;
    text-decoration: underline;
  }

  .main-p {
    padding-right: 100px;
  }


  .ascii {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 85%;
    text-align: left;
  }