html { 
    cursor: url(../cursor/arrow.cur), default ;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    min-height: 100vh;
  }

  a:link {
    cursor: url(../cursor/Cursor_15.cur), default;
    color: #FF85D3;
  }
  a:visited {
    cursor: url(../cursor/Cursor_15.cur), default;
    color: #FF85D3;
  }
  a:hover {
    cursor: url(../cursor/Cursor_15.cur), default;
    color: red;
  }
  a:active {
    cursor: url(../cursor/Cursor_15.cur), default;
    color: red;
  }

  @font-face {
    font-family: MS;
    src: url(../fonts/MS\ Sans\ Serif.ttf);
  }

  @font-face {
    font-family: MSBold;
    src: url(../fonts/MS\ Sans\ Serif\ Bold.ttf);
  }

  header {
    font-family: MSBold;
  }

  .home:link {
    cursor: url(../cursor/Cursor_15.cur), default;
    color: black;
    text-decoration: none;
  }
  .home:visited {
    cursor: url(../cursor/Cursor_15.cur), default;
    color: black;
    text-decoration: none;
  }
  .home:hover {
    cursor: url(../cursor/Cursor_15.cur), default;
    color: red;
    text-decoration: none;
  }
  .home:active {
    cursor: url(../cursor/Cursor_15.cur), default;
    color: red;
    text-decoration: none;
  }

  p {
    font-family: MS;
  }

  hr {
    border: 1px solid #FF85D3;
    margin-top: -10px;
    margin-bottom: 10px
  
  }

  .headerlink {
    padding-left: 10px;
  }

  .title {
    font-family: MSBold;
    text-decoration: underline;
  }

  .main-p {
    padding-right: 100px;
  }

  .section-title {
    font-family: MSBold;
    text-decoration: underline;
  }

  .bold {
    font-family: MSBold;
  }


  .ascii {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 85%;
    text-align: left;
  }